
<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<style>

@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i);

section {
  background: #000;
  color: #fff;
  padding: 2em;
  font-family: "PT Serif", Baskerville, Georgia;
}

#follow {
  background: none;
}

.grey {
  color: #777;
}

a:link,
a:visited {
  color: orange;
  text-decoration: none;
}

i{
  color: orange;
}

a:hover {
  text-decoration: underline;
}

.container-fluid {
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
    width:100%;
    height:100%;
 }

 
</style>
<section style="font-size:125%; padding-top:0px;text-align: left;">
  <p style="font-size:150%">Context : </p>
  <ul>
    <li>Large AppDynamics <i>Client</i></li>
    <li>Many wins generating a lot of <i>excitement</i></li>
    <li>Eventually AppD Honeymoon period is <i>winding down</i></li>
    <li>Transitioning to large scale deployment with <i>100's of Apps</i> being instrumented</li>
  </ul>
</section>
<section style="font-size:125%; padding-top:0px;text-align: left;">
  <p style="font-size:150%">Problems : </p>
</section>

<section style="font-size:125%; padding-top:0px;text-align: left;">
  <p style="font-size:150%">Problems : </p>
  <ul>
    <li><i>Really, Really, Really Difficult</i> 
      <ul>
        <li>To Gain Insight For Improving 100's of Apps</li>
        <li>To Track Improvements Across Apps</li>
        <li>To Highlight These Improvements in An Organization</li>
      </ul>
    </li>
  </ul>
</section>
<section style="font-size:125%; padding-top:0px;text-align: left;">
  <p style="font-size:150%">Problems : </p>
  <ul>
    <li><i>Really, Really, Really Difficult</i> 
      <ul>
        <li>To Gain Insight For Improving 100's of Apps</li>
        <li>To Track Improvements Across Apps</li>
        <li>To Highlight These Improvements in An Organization</li>
      </ul>
    </li>
  </ul>
  <p style="text-align:center;font-size:200%"><i>~ Digital Transformation</i> </p>
</section>
<section style="font-size:125%; padding-top:0px;text-align:left;">
  <p style="font-size:150%">Our Solution : </p>
  <ul>
    <li><i>Grading</i> Of Applications</i>
    <li><i>Gamification</i> To Highlight and Drive Improvement </li>
  </ul>
  <p style="font-size:200%;text-align:center"> Introducing ....</p>
</section>
<section id="lorenz" style="padding-top:0;">
  <canvas></canvas>
  <p style="text-align:left;font-size:400%;position:absolute;z-index:1;padding:.5em;padding-left:100px;width:100%;text-shadow:0 1px 0 #000;">AppDScore
  <br/><br/>
  <p style="font-size:200%;text-align:right;padding-top:5em;"><b><a href="">App Grading</a></b>
  <p style="font-size:200%;text-align:right;"><b><a href="">+</a></b>
  <p style="font-size:200%;text-align:right;"><b><a href="">Gamification</a></b>
</section>
<section>
  <p style="font-size:200%; padding-top:2em;text-align: center;">Application Grading</p>
</section>
<section style="text-align:center;padding:1em;">
    <table>
      <tr>
        <td><img src="/presentations/health.png"/></td>
        <td><img src="/presentations/grades.png"/></td>
      </tr>
    </table>
    <p style="font-size:150%; padding-top:0em;text-align: left;">Grade all applications A, B, C, D</p>
    <p style="font-size:150%; padding-top:0em;text-align: left;">Each Grade has an associated Health Rule</p>
</section>
<section>
  <p style="font-size:200%; padding-top:2em;text-align: center;">Tracking Grades</p>
</section>
<section>
  <iframe src="http://localhost:3000/appgrades.html" style="width:100%;height:100%"></iframe>
</section>
<section style="text-align:center;padding:1em;font-size:100%;">
		<iframe src="http://localhost:3000/appscore.html" style="width:100%;height:100%"></iframe>
</section>
<section>
  <p style="font-size:200%; padding-top:2em;text-align: center;">Tracking Events</p>
</section>

<section style="text-align:center;padding:1em;font-size:100%;">
		<iframe src="http://localhost:3000/incidents.html" style="width:100%;height:100%"></iframe>
</section>

<section>
	<p style="font-size:200%; padding-top:2em;text-align: center;">Changing Grades</p>
</section>

<section style="text-align:center;padding:1em;font-size:100%;">
		<iframe src="http://localhost:3000/promotion.html" style="width:100%;height:100%"></iframe>
</section>

<section>
	<p style="font-size:200%; padding-top:2em;text-align: center;">Gamification</p>
</section>

<section>
  <iframe src="http://localhost:3000/gradesummary.html" style="width:100%;height:100%"></iframe>
</section>

<section>
	<p style="font-size:200%; padding-top:2em;text-align: center;">Your AppD Score</p>
</section>

<section>
  <iframe src="http://localhost:3000/clients.html" style="width:100%;height:100%"></iframe>
</section>

<section>
  <iframe src="http://localhost:3000/clients-sub.html" style="width:100%;height:100%"></iframe>
</section>

<section id="lorenz2" style="padding-top:1em;">
   <p style="font-size:200%;text-align:center;"><b>Thank You!</b>
  <p></p>
  <p style="font-size:200%;text-align:center;"><b>What is your AppDScore?</b>
  <br/><br/>
  <p style="font-size:200%;text-align:right;"><b><a href="">App Grading</a></b>
  <p style="font-size:200%;text-align:right;"><b><a href="">+</a></b>
  <p style="font-size:200%;text-align:right;"><b><a href="">Gamification</a></b>
  
</section>

<div id="hrContent" style="display:none;"></div>

<script src="/presentations/d3.v3.min.js"></script>
<script src="/presentations/stack.v1.min.js"></script>
<script>

var mystack = stack()
    .on("activate", activate)
    .on("deactivate", deactivate);

var section = d3.selectAll("section"),
    follow = d3.select("#follow"),
    followAnchor = d3.select("#follow-anchor"),
    lorenz = d3.select("#lorenz"),
    followIndex = section[0].indexOf(follow.node()),
    lorenzIndex = section[0].indexOf(lorenz.node());

function refollow() {
  followAnchor.style("top", (followIndex + (1 - mystack.scrollRatio()) / 2 - d3.event.offset) * 100 + "%");
}

function activate(d, i) {
  if (i === followIndex) mystack.on("scroll.follow", refollow);
  if (i === lorenzIndex) startLorenz();
}

function deactivate(d, i) {
  if (i === followIndex) mystack.on("scroll.follow", null);
  if (i === lorenzIndex) stopLorenz();
}

var lorenzInterval;

function startLorenz() {
  var δτ = 0.003,
      ρ = 28,
      σ = 10,
      β = 8 / 3,
      x = .5,
      y = .5,
      z = 10,
      n = 30;

  var width = 1280,
      height = 720;

  var canvas = d3.select("canvas")
      .style("position", "absolute")
      .style("top", 0)
      .style("left", 0)
      .style("width", "100%")
      .style("height", "100%")
      .attr("width", width)
      .attr("height", height);

  var color = d3.scale.linear()
      .domain([0, 20, 30, 50])
      .range(["yellow", "orange", "brown", "purple"])
      .interpolate(d3.interpolateHcl);

  var context = canvas.node().getContext("2d");

  context.lineWidth = .1;
  context.fillStyle = "rgba(0,0,0,.03)";

  d3.timer(function() {
    context.save();
    context.globalCompositeOperation = "lighter";
    context.translate(width / 2, height / 2);
    context.scale(12, 14);
    context.rotate(30);
    for (var i = 0; i < n; ++i) {
      context.strokeStyle = color(z);
      context.beginPath();
      context.moveTo(x, y);
      x += δτ * σ * (y - x);
      y += δτ * (x * (ρ - z) - y);
      z += δτ * (x * y - β * z);
      context.lineTo(x, y);
      context.stroke();
    }
    context.restore();
    return !lorenzInterval;
  });

  lorenzInterval = setInterval(function() {
    context.fillRect(0, 0, width, height);
  }, 400);
}

function stopLorenz() {
  lorenzInterval = clearInterval(lorenzInterval);
}

</script>
