
<!DOCTYPE html>
<html>
<head>
<title>BiQ App - Level One Dashboard</title>
<meta charset="UTF-8">
<% include ./partials/include %>
</head>
<body style="background-color: white">
<header >
      <div style="background-color: #000000; padding: 5px;display: block;">
        <div style="width: 100%; height:30px;">
            <table>
              <tr>
                  <td><a href="/"><img width="180px" src="/img/AppDynamicsLogo.svg"/></a></td>
              </tr>
            </table>
        </div>
      </div>
</header>
<div class="container" style="background:#152779">
    <div class="row" style="background:white; padding:15px;" >
        <label class="mr-sm-2">Time Range: </label>
        <select id="timeRange" class="biq_input">
          <option value="15">Last 15 Minutes</option>
          <option value="30">Last 30 Minutes</option>
          <option value="1h">Last 1 Hour</option>
          <option value="6h">Last 3 Hours</option>
          <option value="12h">Last 6 Hours</option>
          <option value="12h">Last 12 Hours</option>
          <option value="1d">Last 1 Day</option>
          <option value="3d">Last 2 Days</option>
          <option value="3d">Last 3 Days</option>
          <option value="1w">Last 1 Week</option>
          <option value="2w">Last 2 Weeks</option>
          <option value="3w">Last 3 Weeks</option>
          <option value="1m">Last 1 Month</option>
          <option value="last_2m">Last 2 Months</option>
          <option value="last_3m">Last 3 Months</option>
        </select>
        <label class="mr-sm-2"> Company :</label>
        <input id="input_company" style="margin-bottom: 0px;height: 30px;" class="biq_input" type="text"/>
        <label class="mr-sm-2"> Employee :</label>
        <input id="input_employeeid" style="margin-bottom: 0px;height: 30px;" type="text"/>
        <button type="submit" class="btn btn-primary" onclick="find();">Find</button>
    </div>
    <div class="row" style="margin:15px;">
      <div id="emoji" class= "col-md-4" style="text-align: center">
      </div>
      <div class= "col-md-4">
        <div class="panel panel-default">
            <div id="slaHead" class="panel-heading">SLA</div>
            <div class="panel-body">
                  <div id="sla"></div>
            </div>
        </div>		
      </div>
      <div class= "col-md-4">
          <div class="panel panel-default">
              <div id="advisoryHead" class="panel-heading">Support Advisories</div>
                <div class="panel-body">
                  <table id="advisoryDetails" style="width:100%">
                        <thead>
                            <tr>
                              <th>Date</th>
                              <th>Start Time</th>
                              <th>Advisory</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>2017/08/29</td>
                            <td>9:00 am</td>
                            <td>Outage Experience - P2 - Lasted 30 minutes</td>
                        </tr>
                  </table>
                </div>
          </div>		
        </div>
      
    </div>
    <div class="row" style="margin:15px;">
        <div class= "col-md-4">
            <div class="panel panel-default">
                <div id="experienceHead" class="panel-heading">Experience</div>
                  <div class="panel-body">
                    <div id="experience"></div>
                  </div>
            </div>		
          </div>
       
        <div class= "col-md-4">
            <div class="panel panel-default">
                <div id="applicationsHead" class="panel-heading">Experience By Application</div>
                <div class="panel-body">
                    <div id="applications"></div>
                </div>
            </div>		
        </div>
        <div class= "col-md-4">
          <div class="panel panel-default">
              <div id="usersHead" class="panel-heading">Experience By Users</div>
                <div class="panel-body">
                    <div id="users"/>
                </div>
          </div>		
        </div>
      </div>
<div>
    
		
</body>
<script type="text/javascript">


var companyInput = "#input_company";
var employeeInput = "#input_employeeid";
var applicationInput = "#input_application";

autoComplete(companyInput,"segments.userData.CompanyId");
autoComplete(employeeInput,"segments.userData.EmployeeId");

var resetApplications = function(){
  $("#applicationsHead").html("Experience By Application");
  $("#applications").html("");
}

var resetUsers = function(){
  $("#usersHead").html("Experience By Users");
  $("#users").html("");
}


var find = function() {
  var company = $(companyInput).val();
  var query = "SELECT userExperience, count(userExperience) FROM transactions WHERE segments.userData.CompanyId = '"+company+"'";
  
  var employeeID = $(employeeInput).val();
  if(employeeID && employeeID.length > 0){
    query += " and segments.userData.EmployeeId = '"+employeeID+"'"
  }
  if(employeeID == "*" || employeeID.length == 0){
    employeeID = "All Users"
  }
  search(query,function(data){
    buildReport(company,employeeID,data[0].results)
  });
}

var buildReport =  function(company,employeeID,data) {
  resetUsers();
  resetApplications()
  buildExperience(company,employeeID,data);
  buildSla(company,employeeID,data);
}

var buildExperience = function(company,employeeID,data){
  var colors = [];
  data.forEach(function(rec){
    colors.push(getHealthColor(rec[0]));
  })

  var chart = c3.generate({
      bindto: '#experience',
      data: {
          columns: data,
          type : 'donut',
          onclick: function (d, i) { showBreakDown(company,employeeID,d.name) }
      },
      donut: {
          title: "Experience"
      },
      color: {
          pattern: colors
      }
  })

  $("#experienceHead").html("Experience > "+company+" > "+employeeID);

}

var showBreakDown = function(company,employeeID,experience){
  buildApplicationBreakDown(company,employeeID,experience);
}

var buildApplicationBreakDown = function(company,employeeID,experience){

  var query = "SELECT application,count(userExperience) FROM transactions WHERE segments.userData.CompanyId = '"+company+"'";
  var employeeID = $(employeeInput).val();
  if(employeeID && employeeID.length > 0){
    query += " and segments.userData.EmployeeId = '"+employeeID+"'"
  }
  if(employeeID == "*" || employeeID.length == 0){
    employeeID = "All Users"
  }
  search(query,function(data){
    buildApplicationBreakDownReport(company,employeeID,experience,data[0].results)
  });
}

var buildApplicationBreakDownReport = function(company,employeeId,experience, data){
  var chart = c3.generate({
      bindto: '#applications',
      data: {
          columns: data,
          type : 'donut',
          onclick: function (d, i) { buildUserBreakDown(company,employeeId,experience,d.name) }
      },
      donut: {
          title: "Applications"
      },
      color: {
          pattern: [getHealthColor(experience)]
      }

  })

  $("#applicationsHead").html(company+" > "+employeeId+" > "+experience);
  resetUsers();
}



var buildUserBreakDown = function(company,employeeID,experience,application){

  var query = "SELECT segments.userData.EmployeeId,count(userExperience) FROM transactions WHERE segments.userData.CompanyId = '"+company+"'";
  var employeeID = $(employeeInput).val();
  if(employeeID && employeeID.length > 0){
    query += " and segments.userData.EmployeeId = '"+employeeID+"'"
  }
  query+= " and application = '"+application+"' and userExperience = '"+experience+"'";
  if(employeeID == "*" || employeeID.length == 0){
    employeeID = "All Users"
  }
  search(query,function(data){
    buildUserBreakDownChart(company,employeeID,experience,application,data[0].results)
  });
}

var buildUserBreakDownChart = function(company,employeeId,experience, application,data){
  
  var chart = c3.generate({
      bindto: '#users',
      data: {
          columns: data,
          type : 'donut'
      },
      donut: {
          title: "Users"
      }
  })

  $("#usersHead").html(application+" > "+experience);


}

var buildSla = function(company,employeeID,data){
  var normalCount = 0;
  var totalCounts = 0;
  var percentage = 0;

  var colors = [];
  data.forEach(function(rec){
    if(rec[0] =="NORMAL"){
      normalCount = rec[1];
    }
    totalCounts+= rec[1];
    
    colors.push(getHealthColor(rec[0]));
  })

  if(data.length > 0){
    percentage = (normalCount/totalCounts)*100;
  }

  var chart = c3.generate({
      bindto:"#sla",
      data: {
          columns: [
              ['data', percentage]
          ],
          type: 'gauge'
      },
      gauge: {
      },
      color: {
          pattern: ['#EF5C5D', '#FFD24D', '#79DD1B'], // the three color levels for the percentage values.
          threshold: {
            values: [85, 95, 100]
          }
      },
      size: {
          height: 180
      }
  });

  $("#slaHead").html("SLA > "+company+" > "+employeeID);

  setEmoji(percentage);

}
  
  


</script>
</html>