
<!DOCTYPE html>
<html>
<head>
<title>BiQ App - Level One Dashboard</title>
<meta charset="UTF-8">


<!-- Load bootstrap -->
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src='/analytics/js/bootstrap.min.js'></script>

<!-- Load jquery -->
<link href="/bower_components/jquery-ui/themes/base/all.css" rel="stylesheet">
<link type="text/css" href="/analytics/css/jquery.dataTables.min.css" rel="stylesheet">
<script type="text/javascript" src='/bower_components/jquery/dist/jquery.min.js'></script>
<script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src='/analytics/js/jquery.dataTables.min.js'></script>


<!-- Load flot libary -->
<script type="text/javascript" src='/flotjs308/jquery.flot.js'></script>
<script type="text/javascript" src='/flotjs308/jquery.flot.pie.js'></script>


<!-- Load c3 library -->
<link href="/bower_components/c3/c3.css" rel="stylesheet">
<script src="/bower_components/d3/d3.min.js" charset="utf-8"></script>
<script src="/bower_components/c3/c3.min.js"></script>

<!-- load helper script-->
<script type="text/javascript" src='/analytics/js/adql.js'></script>

<style>
  .container {
    width:100%;
  }

body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #e9e9e9;
}

.biq_input {
  margin-bottom: 0px;
  height: 30px;
}

</style>
</head>
<body style="background-color: white">
<header >
      <div style="background-color: #000000; padding: 5px;display: block;">
        <div style="width: 100%; height:30px;">
            <table>
              <tr>
              <td><a href="/"><img width="180px" src="/img/AppDynamicsLogo.svg"/></a></td>
              </tr>
            </table>
        </div>
      </div>
</header>
<div class="container" style="background:#152779">
    <div class="row" style="background:white; padding:15px;" >
        <label class="mr-sm-2">Time Range: </label>
        <select id="timeRange" class="biq_input">
          <option value="15">Last 15 Minutes</option>
          <option value="30">Last 30 Minutes</option>
          <option value="1h">Last 1 Hour</option>
          <option value="6h">Last 3 Hours</option>
          <option value="12h">Last 6 Hours</option>
          <option value="12h">Last 12 Hours</option>
          <option value="1d">Last 1 Day</option>
          <option value="3d">Last 2 Days</option>
          <option value="3d">Last 3 Days</option>
          <option value="1w">Last 1 Week</option>
          <option value="2w">Last 2 Weeks</option>
          <option value="3w">Last 3 Weeks</option>
          <option value="1m">Last 1 Month</option>
          <option value="last_2m">Last 2 Months</option>
          <option value="last_3m">Last 3 Months</option>
        </select>
        <label class="mr-sm-2"> Company :</label>
        <input id="input_company" style="margin-bottom: 0px;height: 30px;" class="biq_input" type="text"/>
        <label class="mr-sm-2"> Employee :</label>
        <input id="input_employeeid" style="margin-bottom: 0px;height: 30px;" type="text"/>
        <button type="submit" class="btn btn-primary" onclick="find();">Find</button>
    </div>
    <div class="row" style="margin:15px; height:800px;">
      <div id="emoji" class= "col-md-4" style="text-align: center">
      </div>
      <div class= "col-md-4">
        <div class="panel panel-default">
            <div id="slaHead" class="panel-heading">SLA</div>
            <div class="panel-body">
                  <div id="sla"></div>
            </div>
        </div>		
      </div>
      
      <div id="experiencePanel" class= "col-md-4">
          <div class="panel panel-default">
              <div id="experienceHead" class="panel-heading">Experience</div>
                <div class="panel-body">
                  <div id="experience"></div>
                </div>
          </div>		
      </div>
      
    </div>
<div>
    
		
</body>
<script type="text/javascript">


var companyInput = "#input_company";
var employeeInput = "#input_employeeid";
var applicationInput = "#input_application";

autoComplete(companyInput,"segments.userData.CompanyId");
autoComplete(employeeInput,"segments.userData.EmployeeId");

$("#experiencePanel").hide();

var find = function() {
  var company = $(companyInput).val();
  var query = "SELECT userExperience, count(userExperience) FROM transactions WHERE segments.userData.CompanyId = '"+company+"'";
  
  var employeeID = $(employeeInput).val();
  if(employeeID && employeeID.length > 0){
    query += " and segments.userData.EmployeeId = '"+employeeID+"'"
  }
  if(employeeID == "*" || employeeID.length == 0){
    employeeID = "All Users"
  }
  search(query,function(data){
    buildReport(company,employeeID,data[0].results)
  });
}

var buildReport =  function(company,employeeID,data) {
  buildExperience(company,employeeID,data);
  buildSla(company,employeeID,data);
}

var buildExperience = function(company,employeeID,data){
  var colors = [];
  data.forEach(function(rec){
    colors.push(getHealthColor(rec[0]));
  })

  var chart = c3.generate({
      bindto: '#experience',
      data: {
          columns: data,
          type : 'donut'
      },
      donut: {
          title: "Experience"
      },
      color: {
          pattern: colors
      }
  })

  $("#experienceHead").html("Experience > "+company+" > "+employeeID);

}

var buildSla = function(company,employeeID,data){
  var normalCount = 0;
  var totalCounts = 0;
  var percentage = 0;

  var colors = [];
  data.forEach(function(rec){
    if(rec[0] =="NORMAL"){
      normalCount = rec[1];
    }
    totalCounts+= rec[1];
    
    colors.push(getHealthColor(rec[0]));
  })

  if(data.length > 0){
    percentage = (normalCount/totalCounts)*100;
  }

  var chart = c3.generate({
      bindto:"#sla",
      data: {
          columns: [
              ['data', percentage]
          ],
          type: 'gauge'
      },
      gauge: {
      },
      color: {
          pattern: ['#EF5C5D', '#FFD24D', '#79DD1B'], // the three color levels for the percentage values.
          threshold: {
              values: [90, 93,95]
          }
      },
      size: {
          height: 180
      }
  });

  $("#slaHead").html("SLA > "+company+" > "+employeeID);

  setEmoji(percentage);



}
  
  


</script>
</html>