<!DOCTYPE HTML>
<html>
  <head>
    <title>AppDynamics Custom Dashboards</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <% include ./head %>    
  </head>
  <body>
    <header>
      <% title = "HOME"; %>
      <% include ./header %>
    </header>  
    <%if (scores) { %>
      <div>
      <p style="display: inline"><a href="/levelonedash.html"><img src="/img/levelonesupport.png"/></a></p>
      <p  style="display: inline"><a href="/leveltwodash.html"><img src="/img/leveltwosupport.png"/></a></p>
      <p  style="display: inline"><a href="/leveltwosearch.html"><img src="/img/search.png"/></a></p>
      <p  style="display: inline"><a href="/managerdash.html"><img src="/img/accountmanagers.png"/></a></p>    
      <p style="display: inline"><a href="/execdashboard.html"><img src="/img/executivedash.png"/></a></p>
      </div>
    <% } %>
  </body>
</html>