<!DOCTYPE HTML>
<html>
  <head>
    <title>AppDynamics Custom Dashboards</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <% include ./head %>    
  </head>
  <body>
    <header>
      <% title = "HOME"; %>
      <% include ./header %>
    </header>  
    <%if (scores) { %>
      <div>
      <p style="display: inline"><a href="/appscore.html"><img src="/img/application_scoreboard.png"/></a></p>
      <p  style="display: inline"><a href="/incidents.html"><img src="/img/critical_event_analysis.png"/></a></p>
      <p  style="display: inline"><a href="/auditreport.html"><img src="/img/audit_dashboard.png"/></a></p>    
      <p style="display: inline"><a href="/gradesummary.html"><img src="/img/executive_dashboard.png"/></a></p>
      </div>
    <% } %>
    <%if (synthetics) { %>
      <div><p><a href="/synthetics.html">Synthetics - Reports</a></p></div>
      <div><p><a href="/synthetic-dashbaord-trending.html">Synthetics - Trending Dashboard</a></p></div>
    <% } %>
  </body>
</html>