<!DOCTYPE HTML>
<html>
  <head>
    <title>AppDynamics Custom Dashboards</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <% include ./head %>    
  </head>
  <body>
    <header>
      <% include ./header %>
    </header>  
    <div><p><a href="/appscore.html">Application Grade Analysis</a></p></div>
    <div><p><a href="/incidents.html">Incident Analysis</a></p></div>
    <div><p><a href="/auditreport.html">Audit Report</a></p></div>    
    <div><p><a href="/promotion.html">Grade Upgrade/Downgrade Report</a></p></div>
  </body>
</html>