<html>
  <head>
  	<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/bower_components/jquery-modal/jquery.modal.min.css" rel="stylesheet">
  	<link href="/bower_components/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/bower_components/jquery-modal/jquery.modal.min.js"></script>
	<script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/bower_components/jsrender/jsrender.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <style>
	
	
body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #e9e9e9;
}

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}
.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.row.header {
  font-weight: 900;
  color: #ffffff;
  #background: #ea6153;
}
.row.green {
  background: #27ae60;
}
.row.blue {
  background: #2980b9;
}
@media screen and (max-width: 580px) {
  .row {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}
  </style>
  
  <script>
  	var scores = <%-JSON.stringify(scores)%>
  </script>
  
    <% include ./head %>
  </head>
  <body>
    <header>
      <% include ./header %>
    </header>  
  	<div><p></p></div>
  	<div class="container-fluid">
  		<div class="panel panel-default">
  			  <div id="#">  </div>
			  <div id="incidents_bar" class="panel-heading">
		    	 Start Date : <input type="text" id="startdate" value="03/01/2017"/>
			     End Date : <input type="text" id="enddate" value="03/10/2017"/>
			     <button class="btn btn-primary text-center" onclick="runDownGradeReport();">Downgrade Report</button>
			     <button class="btn btn-primary text-center" onclick="runUpgradeReport();">Upgrade Report</button>
			  </div>
		  </div>
		<div id="gradewrapper"/>
	</div>		
	<div id="hrContent" style="display:none;"/>
	<div id="gradePopup" style="display:none;"/>
  </body>
  
<script id="rowTemplate" type="text/x-jsrender">
  	<div class="row">
	  <div class="cell">
			<% if(demomode) {%>
				App
			<%} else {%>
				{{:appname}}
			<%}%>
	  </div>
	  <div class="cell">
	    {{:count}}
	  </div>
	  <div class="cell">
	    <a href="#" onClick="changeGrade({{:_id}},'{{:appname}}',{{:score}},'{{:score_description}}','{{:color}}')">Change Grade</a> | <a href="#" onClick="view({{:_id}},{{:score}},'{{:appname}}','{{:score_description}}','{{:color}}')">View Trend</a>
	  </div>
	</div>
</script>
  
<script id="hrTemplate" type="text/x-jsrender">
  <li class="list-group-item">
    <span class="badge">{{:count}}</span>
    {{:name}}
  </li>
</script>

<script id="gradeTemplate" type="text/x-jsrender">
	<% if(demomode) {%>
				<p>App : App </p>
	<%} else {%>
				<p>App : {{:appname}} </p>
	<%}%>
  <p>Current Grade : {{:description}}</p>
</script>
  
<script>

	var gradeTemplate = $.templates("#gradeTemplate");
	
	function changeGrade(id,appname,score,description){
		var parms = {};
		parms.id = id;
		parms.appname = appname;
		parms.score= score;
		parms.description = description;
		
		html = gradeTemplate.render(parms); 
		$("#gradePopup").html(html);
		
		
		var gradeList = "<p>New Grade : <select id='gradeselect' name='gradelist'>";
		scores.forEach(function(score){
		    gradeList += "<option value="+score.score+">"+score.description+"</option>";
		});
		gradeList += "</select></p>";
		$('#gradePopup').append(gradeList);
		
		var okButton = "<button class=\"btn btn-primary text-center\" onclick=\"processGrade("+id+")\">Ok</button>";
		var cancelButton = "<button class=\"btn btn-primary text-center\" onclick=\"cancel()\">Cancel</button>";
		
		$('#gradePopup').append("<p>"+okButton+" &nbsp;&nbsp; "+cancelButton+"</p>");
		
		$('#gradePopup').modal();
	
	}
	
	function processGrade(appid){
		var newScore = $('#gradeselect').val();
		var hrRequest = {"appid":appid,"scoreid":parseInt(newScore)};
			
		$.ajax({
            url: '/changescore',
            type: 'post',
            dataType: 'json',
            success: function (response) {
                alert(response.result);
            },
            data: hrRequest
        });	
				
	}
	
	function cancel(){
		$("#gradePopup .close-modal").click();
	}

	function getName(name){
		<% if(demomode) {%>
			return "App";
		<%} else {%>
			return name;
		<%}%>
 }
	
	google.charts.load('current', {'packages':['corechart','table','annotationchart']});
	
	$( function() {
	    $( "#startdate" ).datepicker({});
	    $( "#enddate" ).datepicker({});
	} );
	
	function runDownGradeReport(){
		runReport('downgrade');
	}
	
	function runUpgradeReport(){
		runReport('upgrade');
	}
	
	function runReport(promotion){
		$("#gradewrapper").empty();
		$.get( "/scoreconfig", function( scoreconfig ) {
			scoreconfig.forEach(function(score){
				if(score.max_incidents > 0){
					handle(promotion,score);
				}
			});
		});
	}

	var template = $.templates("#rowTemplate");
	var panelFooter = "</div></div>";	
		
	function handle(promotion,score) {
		var incidentsDesc = '';
		if(promotion == 'downgrade'){
			incidentsDesc = '  [Max Incidents = '+score.max_incidents+"]";
		}else{
			incidentsDesc = '  [Min Incidents = '+score.min_incidents+"]";
		}
	
		var panelHeader = "<div class=\"panel panel-default\"><div id=\"panel_bar\" class=\"panel-heading\">"+score.description+" "+incidentsDesc +"</div><div class=\"panel-body\">"
		var headerHtml = "<div class=\"table\"><div class=\"row header\" style=\"background:"+score.color+"\"><div class=\"cell\">Application</div><div class=\"cell\">Incidents</div><div class=\"cell\">Action</div></div>"
		var startDate = $( "#startdate" ).datepicker( "getDate" );
		var endDate   = $( "#enddate" ).datepicker( "getDate" );
		var footerHtml = "</div><div id=\"trend_view_"+score.score+"\"/>";	
		
		$.get( "/"+promotion+"/"+score.score+"/"+$.datepicker.formatDate("yymmdd", startDate)+"/"+$.datepicker.formatDate("yymmdd", endDate), function( downgrade ) {
			var rowHtml = "";
			downgrade.forEach(function(app){
				app.score_description = score.description;
				app.color = score.color;
				rowHtml = rowHtml+template.render(app);
			});
			if(downgrade.length > 0){
				$("#gradewrapper").append(panelHeader+headerHtml+rowHtml+footerHtml+panelFooter);
			}
		});
		
	}
	
	function view(appid,score,appname,score_description,score_color) {
		var startDate = $( "#startdate" ).datepicker( "getDate" );
		var selectedDate = $.datepicker.formatDate("yymmdd", startDate);
		drawAppTimeline(appid,score,appname,score_description,score_color,selectedDate);
	}
	
	function drawAppTimeline(appid,score,appname,score_description,score_color,selectedDate) {
		$.get( "/apptimeline/"+appid+"/"+selectedDate, function( resp ) {
		
			var appTimeline = resp;
		
	        var data = new google.visualization.DataTable();
	        data.addColumn('date', 'Date');
	        data.addColumn('number', 'Incident Count');
	        data.addColumn({type: 'string', role: 'annotation'});
	    	data.addColumn({type: 'string', role: 'annotationText'});
	    	
	    	var rowData = [];
			for(var i=0; i < appTimeline.length; ++i) {
				var row = [];
			    var rec = appTimeline[i];
			    var dateRec = new Date(rec.time);
			    row.push(new Date(dateRec.getYear()+'/'+(dateRec.getMonth()+1)+'/'+dateRec.getDate()));
			    
			    row.push(rec.incidents);
			    row.push(rec.short);
			    row.push("Critical Incidents :"+rec.incidents);
			    rowData.push(row);
			}
	    	
	        data.addRows(rowData);
	
	        var appChartTimeline = new google.visualization.LineChart(document.getElementById('trend_view_'+score));
	
	        var options = {
		        chartArea: {width: '800px', height: '600px'}, 
				backgroundColor: "#2a2a2a",
		        title: getName(appname) +" : "+score_description +" : # Critical Incidents",
		        titleTextStyle: {color: '#a5a5a5'},
		        hAxis: {title: 'Date',
		        		format: 'MM-dd',
		        		textPosition: 'in',
		        		gridlines: {color:"#000000"},
		        		textStyle: {color: '#a5a5a5'},
		        		titleTextStyle: {color: '#a5a5a5'}
		        },
		        vAxis: {title: 'Number of Apps',
		        		textPosition: 'in',
		        		gridlines: {color:"#000000"},
		        		textStyle: {color: '#a5a5a5'},
		        		titleTextStyle: {color: '#a5a5a5'}
		        		
		        },
		        bubble: {textStyle: {fontSize: 11}},
		        animation: {
		          duration: 1000,
		          easing: 'out',
		          startup: true
		      	},
		      	colors :[score_color],
		      	trendlines: {
		            0: {
		              type: 'linear',
		              color: 'yellow'
		            }
		          },
		        tooltip: { trigger: 'selection' },
		        legend: {position: 'none'},
			}; 
		 	        
	        appChartTimeline.draw(data, options);
		});
	} 
	
	
  </script>
</html>