<!DOCTYPE HTML>
<html>
  <head>
    <title>AppDynamics Synthetic Summary Report</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.0/jquery-ui.js"></script>   
    <script type="text/javascript" src="/bower_components/jquery-modal/jquery.modal.min.js"></script> 

    <script src="/pivottable/pivot.min.js"></script>
    <script src="/pivottable/export_renderers.min.js"></script>
    <link href="/pivottable/pivot.css" rel="stylesheet" />	
    
    <link rel="stylesheet" type="text/css" href="/datepicker/jquery.datetimepicker.min.css"/ >
    <script src="/datepicker/jquery.datetimepicker.full.min.js"></script>
   
    <script type="text/javascript" src="/bower_components/jsrender/jsrender.min.js"></script>
    
    <script type="text/javascript" src="/dimple/d3.v4.3.0.min.js"></script>
    <script type="text/javascript" src="/dimple/dimple.v2.3.0.js"></script>
    <script type="text/javascript" src="/dimple/date.format.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>

    <link rel="stylesheet" href="/gridstack/gridstack.css"/>	
    <script type="text/javascript" src="/gridstack/gridstack.all.js"></script>

    <script type="text/javascript" src="/tablesorter/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/tablesorter/jquery.metadata.js"></script>
    <link rel="stylesheet" type="text/css" href="/tablesorter/blue/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sb-admin-2.min.css"/ >
    <script type="text/javascript" src="/css/sb-admin-2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css"/ >
    <link rel="stylesheet" type="text/css" href="/metismenu/metisMenu.min.css"/ >
    <script type="text/javascript" src="/metismenu/metisMenu.min.js"></script>

  </head>
 
  <body>
    <div id="Control"/>
    <div id="Ketchup"/>
    <div id="Mud"/>
    <div id="grape"/>
    <div id="Chocolate"/>
    
  </body> 
  
<script>
    $(document).ready(function() {
        buildGraph("Control","Control"); 
        buildGraph("Ketchup","Ketchup"); 
        buildGraph("Mud","Mud"); 
        buildGraph("grape","Grape Juice"); 
        buildGraph("Chocolate","Chocolate");     
    });

    var extractData = function(data,filter){
        var results = [];
        var cleaners = [];
        data.forEach(function(record){
            if(record.stain == filter){
                var avg =  Math.round((record.red+record.green+record.blue)/3);
                var RedRec = {"Name":record.cleaner,"Cleaner":record.cleaner+" : "+avg,"Stain":record.stain,"Color":"Red" ,"Value":record.red,};
                var GreenRec = {"Name":record.cleaner,"Cleaner":record.cleaner+" : "+avg,"Stain":record.stain,"Color":"Green" ,"Value":record.green};
                var BlueRec = {"Name":record.cleaner,"Cleaner":record.cleaner+" : "+avg,"Stain":record.stain,"Color":"Blue" ,"Value":record.blue};
                results.push(RedRec);
                results.push(GreenRec);
                results.push(BlueRec);
                cleaners.push(record.cleaner+" : "+avg);
            }
        })
        return {results:results,cleaners:cleaners};
    }

    var buildGraph = function(selector,filter){
        var dataRecs = extractData(data,filter);



        var svg = dimple.newSvg("#"+selector, 2000, 800);
        var myChart = new dimple.chart(svg,dataRecs.results);
        var xaxis = myChart.addCategoryAxis("x", ["Cleaner","Color"])
        xaxis.fontSize = 20;
        xaxis.addOrderRule(dataRecs.cleaners);
        var yaxis = myChart.addMeasureAxis("y", "Value");
        yaxis.fontSize = 20;
        yaxis.overrideMax = 250;
        yaxis.title = filter;
        var barSeries = myChart.addSeries(["Cleaner", "Color"], dimple.plot.bar);
        myChart.defaultColors = [
            new dimple.color("#FF0000"),
            new dimple.color("#00FF00"),
            new dimple.color("#0000FF")
        ]; 
        myChart.draw();
    };

var data = [
    { 
    "cleaner" : "None", 
    "stain" : "Control", 
    "red" : 224.0, 
    "blue" : 229.0, 
    "green" : 225.0
},
{ 
    "cleaner" : "Arm & Hammer", 
    "stain" : "Control", 
    "red" : 215.0, 
    "blue" : 202.0, 
    "green" : 210.0
},
{ 
    "cleaner" : "Arm & Hammer", 
    "stain" : "Chocolate", 
    "red" : 193.0, 
    "blue" : 150.0, 
    "green" : 172.0
},
{ 
    "cleaner" : "Arm & Hammer", 
    "stain" : "Grape Juice", 
    "red" : 206.0, 
    "blue" : 191.0, 
    "green" : 199.0
},
{ 
    "cleaner" : "Arm & Hammer", 
    "stain" : "Ketchup", 
    "red" : 209.0, 
    "blue" : 190.0, 
    "green" : 204.0
},
{ 
    "cleaner" : "Arm & Hammer", 
    "stain" : "Mud", 
    "red" : 132.0, 
    "blue" : 94.0, 
    "green" : 115.0
},
{ 
    "cleaner" : "Nellie's Laundry Soda", 
    "stain" : "Control", 
    "red" : 213.0, 
    "blue" : 197.0, 
    "green" : 207.0
},
{ 
    "cleaner" : "Nellie's Laundry Soda", 
    "stain" : "Chocolate", 
    "red" : 212.0, 
    "blue" : 176.0, 
    "green" : 194.0
},
{ 
    "cleaner" : "Nellie's Laundry Soda", 
    "stain" : "Grape Juice", 
    "red" : 205.0, 
    "blue" : 191.0, 
    "green" : 199.0
},
{ 
    "cleaner" : "Nellie's Laundry Soda", 
    "stain" : "Ketchup", 
    "red" : 246.0, 
    "blue" : 229.0, 
    "green" : 243.0
},
{ 
    "cleaner" : "Nellie's Laundry Soda", 
    "stain" : "Mud", 
    "red" : 141.0, 
    "blue" : 95.0, 
    "green" : 123.0
},
{ 
    "cleaner" : "Seventh Generation", 
    "stain" : "Control", 
    "red" : 214.0, 
    "blue" : 198.0, 
    "green" : 208.0
},
{ 
    "cleaner" : "Seventh Generation", 
    "stain" : "Chocolate", 
    "red" : 195.0, 
    "blue" : 149.0, 
    "green" : 172.0
},
{ 
    "cleaner" : "Seventh Generation", 
    "stain" : "Grape Juice", 
    "red" : 215.0, 
    "blue" : 203.0, 
    "green" : 210.0
},
{ 
    "cleaner" : "Seventh Generation", 
    "stain" : "Ketchup", 
    "red" : 213.0, 
    "blue" : 183.0, 
    "green" : 203.0
},
{ 
    "cleaner" : "Seventh Generation", 
    "stain" : "Mud", 
    "red" : 141.0, 
    "blue" : 107.0, 
    "green" : 127.0
},
{ 
    "cleaner" : "Tide Simply Clean", 
    "stain" : "Control", 
    "red" : 224.0, 
    "blue" : 210.0, 
    "green" : 221.0
},
{ 
    "cleaner" : "Tide Simply Clean", 
    "stain" : "Chocolate", 
    "red" : 194.0, 
    "blue" : 147.0, 
    "green" : 169.0
},
{ 
    "cleaner" : "Tide Simply Clean", 
    "stain" : "Grape Juice", 
    "red" : 204.0, 
    "blue" : 188.0, 
    "green" : 196.0
},
{ 
    "cleaner" : "Tide Simply Clean", 
    "stain" : "Ketchup", 
    "red" : 220.0, 
    "blue" : 186.0, 
    "green" : 208.0
},
{ 
    "cleaner" : "Tide Simply Clean", 
    "stain" : "Mud", 
    "red" : 146.0, 
    "blue" : 101.0, 
    "green" : 126.0
}

];


  </script>


 
</html>
